<h2>Your Lists</h2>
<!-- <a href="/lists/new">Add a List</a> -->
<!-- <%= link_to "Add a List", "/lists/new" %> -->
<%= link_to "Add a List", make_a_list_path %>

<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.title, list %></li>
  <% end %>
</ul>
