<h2>Your Lists</h2>
<%= link_to "Add a List", new_list_path %>

<ul>
  <!-- <% @lists.each do |list| %>
    <li>
      <%= link_to list.title, list %>
      <%= link_to "X", list, method: :delete %>
    </li>
  <% end %> -->
</ul>
