<div id="new-tweet">
  <textarea class="form-control" id="tweet-contents"></textarea>

  <button class="btn btn-primary" id="save-tweet">Save</button>

  <p></p>

  <ul class="item-list"></ul>
</div>
