<h1>Add a New Item</h1>

<%= bootstrap_form_for @item, url: list_items_path(@list) do |f| %>
  <%= f.text_field :description %>
  <%= f.date_field :due_date %>
  <button class="btn btn-primary">Save</button>
<% end %>
