<h1>Add a New Item</h1>

<!-- <form method="POST" action="/lists/<%= @list_id %>/items"> -->
<%= form_tag "/lists/#{@list_id}/items" do %>
  <input type="text" name="description" placeholder="What do you want to do?">
  <button>Save</button>
<% end %>
<!-- </form> -->
