<h1>Add a New Item</h1>

<%= form_tag list_items_path(@list) do %>
  <% if @item.errors %>
    <% @item.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  <% end %>

  <input type="text" name="description" placeholder="What do you want to do?"
    value="<%= @item.description %>">
  <input type="date" name="due_date" placeholder="Due"
    value="<%= @item.due_date %>">

  <button>Save</button>
<% end %>
